body {
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
	background: linear-gradient(to right, #F9D423, #e65c00);
}

.divUpload {
	position: absolute;
	z-index: 99;
	left: 45%;
	top: 30%;
	width: 200px;
	background-color: #FF0000;
}

.fileUploadField {
	margin: 0;
	width: 200px;
	height: 50px;
	opacity: 0;
}



.drop-zone {
	position: absolute;
	z-index: 99;
	cursor: pointer;
	
	left: 40%;
	top: 25%;
	width: 500px;
	height: 350px;
}

.btnUpload {
	margin-left: 150px;
	margin-top: 150px;
	width: 200px;
	height: 50px;
	background-color: #1e90ff;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 20px;
	border-radius: 2%;
}

.btnUpload:hover {
	background-color: #4169e1;
}

.btnUpload-drop {
	background-color: #FF0000;
}

.drop-zone__input {
	display: none;
	visibility: hidden;
}